/* CSS Document */
#wovax-mm-editor {
	display: block;
	/*background-color: #f5f5f5;*/
	background-color: #ebebeb;
	border: 1px solid #ddd; 
	border-radius: 2px;
	margin: 1rem 0;
}

#wovax-mm-editor > section {
	padding: 0.5rem 1.5rem 1.5rem;
	box-sizing: border-box;
}

#wovax-mm-editor > header {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	font-size: 20px;
    font-weight: 400;
	padding: 0.75rem 1.5rem;
}

#wovax-mm-editor .mm-field {
	padding: 0.5rem 0;
}

#wovax-mm-editor .mm-field-25 {
	width: 25%;
	display: inline-block;
}

#wovax-mm-subtitle input,
#wovax-mm-editor input[type="text"] {
	width: 100%;
	line-height: 35px;
	height: 35px;
	text-indent: 0.5rem;
	font-size: 1rem;
	color: #555;
}

#wovax-mm-subtitle {
	padding: 1rem 0;
}

#wovax-mm-editor label {
	font-weight: bold;
	display: inline-block;
	padding-bottom: 0.25rem;
}

#wovax-mm-subtitle label {
	display: block;
	float: left;
	height: 35px;
	line-height: 35px;
	font-size: 20px;
    font-weight: 400;
}

#wovax-mm-subtitle .mm-field-inner {
	margin-left: 130px;
}

/* Muisic Selector
-------------------------------------- */

#TB_ajaxContent {
	width: auto !important;
}

#TB_window {
    background-color: #eee;
}

#wovax-music-selector-form:after {
	content: "";
	display: block;
	clear: both;
}

#wovax-music-selector-form .mm-column {
	width: 50%;
	float: left;
	padding: 0 1rem 0;
	box-sizing: border-box;
}

#wovax-music-selector-form .mm-column > ul {
	background: #fff;
	border: 1px solid #0085ba;
	height: 250px;
	padding: 1rem 0;
	border-radius: 3px;
	overflow-y: scroll;
}

#wovax-music-selector-items > li {
	margin: 0 1rem 0.5rem;
	display: block;
	padding: 0.5rem 1rem;
	border: 1px solid #0085ba;
	color: #fff;
	background-color: #0085ba;
	border-radius: 3px;
	font-weight: bold;
	cursor: grab;
}

#wovax-music-selector-results > li {
	color: #0085ba;
	font-weight: bold;
	display: block;
	padding: 0.25rem 1.5rem;
	border-bottom: 1px solid #eee;
}

#wovax-music-selector-form .mm-selector-field {
	min-height: 40px;
	position: relative;
}

#wovax-music-selector-form .mm-selector-field input[type="text"]{
	height: 40px;
	line-height: 40px;
	outline: none;
	border: 1px solid #0085ba;
	border-radius: 3px;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-indent: 0.5rem;
}

#wovax-music-selector-form .mm-selector-field input[type="submit"]{
	height: 40px;
	outline: none;
	background-color: #0085ba;
	border: none; 
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	position: absolute;
	padding: 0 1rem;
	margin: 0;
	top: 0;
	right: 0;
	box-sizing: border-box;
}

#wovax-music-selector-form h3 {
	min-height: 40px;
	margin: 0;
	padding: 0;
}

#wovax-music-selector-shortcode {
	margin: 0 1rem;
}

#wovax-music-selector-shortcode label{
	font-weight: bold;
}

#wovax-music-selector-shortcode input {
	width: 100%;
}



