/* CSS Document */

/* #wovax-mm-library > nav 
----------------------------------------------------- */

#wovax-mm-library {
	position: relative;
}

#wovax-mm-library > nav {
	border-bottom: 1px solid #ddd;
}

#wovax-mm-library > nav > a {
	display: inline-block;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-trans.wovax-mm-search: uppercase;
	padding: 1rem 2rem;
	text-decoration: none;
	box-shadow: none;
	position: relative;
	top: 1px;
	background-color: #eee;
	outline:none;
	box-sizing: border-box;
}

#wovax-mm-library > nav > a.active {
	background-color: #fff;
}

#wovax-mm-library > .wovax-mm-category {
	position: absolute;
	top: 0;
	right: 0;
}

#wovax-mm-library > .wovax-mm-category select {
	max-width: 170px;
	padding: 0;
}

#wovax-mm-library > .wovax-mm-category label {
	font-size: 12px;
	color: #777;
}

@media (max-width:700px){
	
	#wovax-mm-library > .wovax-mm-category {
		position: relative;
		top: 0;
		right: 0;
		padding-bottom: 1rem;
	}

}



#wovax-mm-library .wovax-mm-results-set {
	position: relative;
	padding-top: 1.5rem;
}

#wovax-mm-library .wovax-mm-results-set.wovax-loading:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba( 255,255,255,0.8);
	z-index: 100;
}

#wovax-mm-library .wovax-mm-results-set .wovax-loading-results {
	position: absolute;
	width: 100%;
	top: 20px;
	z-index: 101;
	text-align: center;
}

#wovax-mm-library .wovax-mm-results-set .wovax-loading-results > div {
	display: inline-block;
	margin: 0 auto;
	top: 20px;
	text-align: center;
	background-image: url(../images/loading.gif);
	background-size: 40px 40px;
	background-position: center top;
	background-repeat: no-repeat;
	padding: 40px 20px 20px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #ddd;
	font-size: 12px;
	font-weight: bold;
	color: #555;
}

#wovax-mm-library .wovax-mm-tax-mess {
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	margin: 0 1rem;
	color: #555;
	padding: 0 0 1.5rem;
}

#wovax-mm-library .wovax-mm-tax-mess span {
	font-size: 14px;
	color: #333;
}

#wovax-mm-library .wovax-mm-no-results {
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	color: #777;
	padding: 1rem 1rem 3rem;
}
 
/* #wovax-mm-library-az-index
----------------------------------------------------- */

#wovax-mm-library #wovax-mm-library-az-index > nav {
	border-bottom: 1px solid #999;
	padding-top: 1rem;
}

#wovax-mm-library #wovax-mm-library-az-index > nav:after {
	content: '';
	display: block;
	clear: both;
}

#wovax-mm-library #wovax-mm-library-az-index > nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#wovax-mm-library #wovax-mm-library-az-index > nav > ul > li {
	margin: 0;
	padding: 0;
	float: left;
	width: 3.8%;
	text-align: center;
	display: block;
	padding: 0.5rem 0;
}

#wovax-mm-library #wovax-mm-library-az-index > nav > ul > li > a {
	font-weight: bold;
	text-decoration: none;
}

#wovax-mm-library .wovax-mm-library-index-set {
	padding: 0 0 1rem;
}

#wovax-mm-library .wovax-mm-library-index-set > header {
	background-color: #555;
	/*padding: 0.25rem 0.75rem;*/
	text-align: right;
	min-height: 35px;
}

#wovax-mm-library .wovax-mm-library-index-set > header > a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	float: left;
	display: block;
	height: 35px;
	line-height: 35px;
	padding: 0 1rem;
}

#wovax-mm-library .wovax-mm-library-index-set > header > ul {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 35px;
}

#wovax-mm-library .wovax-mm-library-index-set > header > ul > li {
	display: inline-block;
	padding: 0.5rem 0;
	margin: 0;
	color: #fff;
	font-size: 11px;
	width: 50px;
	text-align: center;
	margin-right: 0.5rem;
	line-height: 14px;
	vertical-align: bottom;
}

/* wovax-mm-item
----------------------------------------------------------- */
.wovax-mm-item { 
	position: relative;
	padding: 16px;
}

.wovax-mm-item a:hover, .wovax-mm-item a:visited, .wovax-mm-item a:link, a:active {
	text-decoration: none;
	box-shadow: none;
}

.wovax-mm-item:nth-child(odd) {
	background-color: #f1f1f1;
}

.wovax-mm-item > div {
	margin-right: 300px;
	line-height: 1.2rem;
	min-height: 40px;
}

.wovax-mm-item .wovax-mm-title {
	font-size: 1.1rem;
	font-weight: bold;
}

.wovax-mm-item .wovax-mm-subtitle {
	font-size: 0.8rem;
	font-weight: bold;
	
}

.wovax-mm-item > ul {
	position: absolute;
	top: 16px;
	right: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.wovax-mm-item > ul > li {
	display: inline-block;
	width: 50px;
	line-height: 40px;
	/*background-color: #ccc;*/
	vertical-align: top;
	text-align: center;
	-webkit-box-shadow: 0px -1px 5px 0px rgba(86,93,125,0.4);
	-moz-box-shadow: 0px -1px 5px 0px rgba(86,93,125,0.4);
	box-shadow: 0px -1px 5px 0px rgba(86,93,125,0.4);
	border-radius: 3px;
	margin-right: 0.5rem;
}

.wovax-mm-item > ul > li.wovax-mm-item-page-n {
	font-size: 0.8rem;
	width: auto;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-weight: bold;
	color: #999;
}

.wovax-mm-item > ul > li.


.wovax-mm-item > ul > li > a {
	/*color: #555;*/
	text-decoration: none;
}

@media (max-width:600px){
	
	.wovax-mm-item > ul {
		position: relative;
		top: 0;
		display: block;
		margin-top: 0.5rem;
	}
	
	.wovax-mm-item > div {
		margin-right: 0;
	}
	
	#wovax-mm-library #wovax-mm-library-az-index > nav > ul > li {
		margin: 0;
		padding: 0;
		float: left;
		width: 7.5%;
		text-align: center;
		display: block;
		padding: 0.5rem 0;
	}
	
	#wovax-mm-library .wovax-mm-library-index-set > header > ul {
		display: none;
	}

}

/* wovax-mm-library-search
-----------------------------------------------*/

#wovax-mm-library-search > .wovax-mm-search {
	padding: 2rem 0 0;
	position: relative;
}

#wovax-mm-library-search > .wovax-mm-search .mm-search-text {
	/*margin-right: 40px*/;
}

#wovax-mm-library-search > .wovax-mm-search .mm-search-text input {
	height: 48px;
	line-height: 48px;
	padding: 0;
	margin: 0;
	width: 100%;
	text-indent: 0.5rem;
	box-sizing: border-box;
}

#wovax-mm-library-search > .wovax-mm-search .mm-search-submit {
	position: absolute;
	top: 2rem;
	right: 0;
}

#wovax-mm-library-search > .wovax-mm-search .mm-search-submit input{
	height: 48px;
	padding: 0 1rem;
}

/* wovax-mm-music-subheader
----------------------------------------------------------- */
.wovax-mm-music-subheader {
	padding-bottom: 1.5rem;
}

.wovax-mm-music-subheader > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.wovax-mm-music-subheader > ul > li {
	display: inline-block;	
	vertical-align: top;
	margin-right: 0.5rem;
}
.wovax-mm-music-subheader > ul > li.wovax-mm-item-page-n {
	line-height: 40px;
}

.wovax-mm-music-subheader > ul > li > a {
	display: block;
	width: 50px;
	line-height: 40px;
	/*background-color: #ccc;*/
	text-align: center;
	-webkit-box-shadow: 0px -1px 5px 0px rgba(86,93,125,0.4);
	-moz-box-shadow: 0px -1px 5px 0px rgba(86,93,125,0.4);
	box-shadow: 0px -1px 5px 0px rgba(86,93,125,0.4);
	border-radius: 3px;
}

.wovax-mm-music-subheader > ul > li > span {
	display: block;
	font-size: 11px;
	text-align: center;
	line-height: 14px;
	padding: 3px 0 5px;
	color: #777;
}

.wovax-mm-music-subheader > ul > li.wovax-mm-item-page-n {
	font-size: 0.8rem;
	width: auto;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-weight: bold;
	color: #999;
}
.wovax-mm-music-subheader > a {
	font-size: 0.8rem;
	display: inline-block;
	padding-top: 0.25rem;
}
/* Modal Style
------------------------------------------------------ */
#wovax-mm-modal-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 9998;
}

#wovax-mm-modal-frame {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
}

#wovax-mm-modal-frame .wovax-mm-inner-wrapper{
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	z-index: 9999;
	background-color: #fff;
	padding: 0.5rem;
	box-sizing: border-box;
}

#wovax-mm-modal-frame .wovax-close-modal-action {
	position: absolute;
	top: -30px;
	right: -30px;
	border-radius: 50%;
	background-color: #555;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	border: 1px solid #ccc;
	z-index: 10001;
}

#wovax-mm-modal-frame .wovax-close-modal-action:before {
	content: "\f158";
    font: 400 20px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
	line-height: 40px;
}

#wovax-mm-modal-frame .wovax-mm-modal-content {
	padding-bottom: 56.25%;
}

#wovax-mm-modal-frame .wovax-mm-modal-content iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	margin: 0;
	padding: 0;
	z-index: 10000;
}

.wovax-mm-modal-item-content {
	display: none;
}

@media (max-width:860px){
	#wovax-mm-modal-frame .wovax-mm-inner-wrapper{
		margin: 0 40px;
	}
}